<!DOCTYPE html>
<html>
    <head>
        <title>rrrrr</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/materialize/css/materialize.min.css' />
    </head>
    <body>
        <div class="row">
            <div class="col s12">
                <div class="card-panel center">
                    <h3>响应式WEB
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m7">
                <div class="card-panel z-depth-4">
                    <div class="input-field">
                        <input placeholder="你说：" id="first_name" type="text" class="validate">
                        <label for="first_name"></label>
                    </div>
                    <span>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively. I am similar to what is called a panel
                        in other frameworks.
                    </span>
                </div>
            </div>
            <div class="col s12 offset-m1 m4">
                <div class="card-panel">
                    <span>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively. I am similar to what is called a panel
                        in other frameworks.
                    </span>
                </div>
                
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>First</div>
                            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><i class="mdi-maps-place"></i>Second</div>
                            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                        </li>
                        <li>
                            <div class="collapsible-header active"><i class="mdi-social-whatshot"></i>Third</div>
                            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                        </li>
                    </ul>
               
            </div>
        </div>
        
    </body>
    <script data-main="/javascripts/main" src="/javascripts/libs/require.min.js"></script>
</html>