<!DOCTYPE html>
<html>
    <head>
        <title>rrrrr</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/materialize/css/materialize.min.css' />
    </head>
    <body>
        <div class="row">
            <div class="col s12">
                <div class="card-panel center">
                    <h4>响应式WEB
                    </h3>
                </div>
            </div>
            <a href="https://github.com/Dongss/BTalk"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
        </div>
        <div class="row">
            <div class="col s12 m7">
                <div class="row card-panel z-depth-4">
                    <div class="row input-field" id="input-container">
                        <input placeholder="你说：" type="text" class="validate" id="input">
                        <label for="first_name"></label>
                    </div>
                    <div class="chat-box"></div>
                </div>
            </div>
            <div class="col s12 offset-m1 m4">
                <div class="card-panel" id="nick-name">
                </div>
                
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header active" id="users_num">当前在线（1）</div>
                        <div class="collapsible-body blue-text" id="users"></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="mdi-maps-place"></i>Second</div>
                        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="mdi-social-whatshot"></i>Third</div>
                        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                    </li>
                </ul>
                
            </div>
        </div>
        
    </body>
    <script data-main="/javascripts/main" src="/javascripts/libs/require.min.js"></script>
</html>