<!DOCTYPE html>
<html>
    <head>
        <title>rrrrr</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/materialize/css/materialize.min.css' />
    </head>
    <body>
        <div class="row">
            <div class="col s12">
                <div class="card-panel center">
                    <h4>响应式WEB
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m7">
                <div class="row card-panel z-depth-4">
                    <div class="row input-field" id="input-container">
                        <input placeholder="你说：" type="text" class="validate" id="input">
                        <label for="first_name"></label>
                    </div>
                    <div class="chat-box"></div>
                </div>
            </div>
            <div class="col s12 offset-m1 m4">
                <div class="card-panel">
                    <span>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively. I am similar to what is called a panel
                        in other frameworks.
                    </span>
                </div>
                
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header active" id="users_num"><i class="mdi-image-filter-drama"></i>当前在线（1）</div>
                        <div class="collapsible-body blue-text" id="users"></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="mdi-maps-place"></i>Second</div>
                        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="mdi-social-whatshot"></i>Third</div>
                        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
                    </li>
                </ul>
                
            </div>
        </div>
        
    </body>
    <script data-main="/javascripts/main" src="/javascripts/libs/require.min.js"></script>
</html>